body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(#fcd5ce,#f9dcc4);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  padding-bottom: 15px;
}

.hour {
  background-color: #f5cb5c;
  color: #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.past {
  background-color: #d8d8d8;
  color: black;
}

.present {
  background-color: #ffbf69;
  color: black;
}

.future {
  background-color: #ff9f1c;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #8ac926;
  color: rgb(248, 247, 247);
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
